<% if object.errors.any? %>
<div class="error-message">
  <div id="error_explanation">
    <h2><%= pluralize(object.errors.count, "error") %>! Baka! Make sure you fix them!</h2>

    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  </div>
<% end %>